<%- include('header') -%>

<h2>This is the about page</h2>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur velit consequuntur tempore provident ut adipisci reiciendis est, in optio. Ullam esse voluptate possimus sapiente quas?</p>

<%- include('footer') -%>